.Dashboard {
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.bannerBg{
    background-image: linear-gradient( 135deg, #1D6FA3 10%, #65FDF0 100%);
    

}

.Dashboard .banner {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}


.Dashboard .banner  .buttonLink {
    box-shadow: 0 0 3px rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: large;

}

.photo {
    box-shadow: 0px 0px 2px black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #efefef;
}

.Dashboard .photo button {
    box-shadow: 0 0 1px #ecb365;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 15px;
    border-radius: 50%;
    font-size: x-large;
    background-color: black;
    color: #ecb365;
}

.Dashboard .banner h1 {
    margin: 0;
    color: white;
    
}

.Dashboard .banner h4 {
    color: white;
    
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.bodySearchButton {
width: 70px;
height: 70px;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.7);
background: white;   
border-radius: 35px;
position:fixed;
z-index: 10;
bottom: 40px;
right: 20px;

}

.bodySearchButton:hover{

    width: 200px;
    
    transition: 0.5s;
}
.bodySearchButton button{
  height:100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
   
}
.bodySearchButton button > span{
    display: none;
}
.bodySearchButton button:hover >span{
    display: inline;
    transition: 2s;
}

.bodyMisDatos {
    
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.bodyMisDatos .divDatos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 8px;
    background-color:white;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}


.bodyMisDatos .divDatos .box {

   
    width: 46%;
    padding-left: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);


}

.bodyOwners{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    border-radius:8px;
    box-shadow: 0 0 2px black;
    padding-top: 10px;
    flex-wrap: wrap;
   
    
}
.bodyOwners tr{
    
}
.bodyOwners .ownerCard{
    border: solid 0.4px gray;
    box-shadow: 0 0 2px black;
    height: 200px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2px;
    border-radius: 10px;
    cursor: pointer;

}
.ownerCard i{
    text-align: center;
    font-size: smaller;
    text-transform: capitalize;
}
.ownerCard h3{
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    font-weight: 700;
}
.ownerCard p{
    text-align: center;
    text-transform: capitalize;
}
.ownerCard img{
    width: 100%;
    height:65%;
    
    
}

.bodyFavourites{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 0 0 2px black;
    padding-block: 20px;
    flex-wrap: wrap;
    
}
.bodyFavourites .favouritesCard{
    border: solid 0.4px gray;
    box-shadow: 0 0 2px black;
    height: 200px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
.favouritesCard i{
    text-align: center;
    font-size: smaller;
    text-transform: capitalize;
}
.favouritesCard h3{
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    font-weight: 700;
}
.favouritesCard p{
    text-align: center;
    text-transform: capitalize;
}
.favouritesCard img{
    width: 100%;
    height:65%;
}

.bodyButtons {
    
    margin-top: 20px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.bodyButtons .selectionBox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    font-style: italic;
}
.bodyButtons .selectionBox img{
    height: 90px;
    width: 90px;
}

.bodyButtons .selection {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    background: white;
    height: 150px;
    width: 300px;
    border-radius: 20px;
    margin-inline: 10px;
    margin-block: 10px;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: small;
    font-weight: 500;
    cursor: pointer;

}

.body .selection:hover {
    box-shadow: 0 0 4px #064663;
    transform: scale(1.1);
    color: rgb(36, 28, 82);
    transition: 0.2s;
}


@media (max-width: 600px) {

    .bodyMisDatos .divDatos {
        width: 100%;
        padding-inline: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }  
    .bodyMisDatos .divDatos .box {

        font-size: larger;
        width: 98%;
    
    
    }
}