.markerHotel{
    background-color: rgb(20, 161, 255);
    border: 2px solid rgb(1, 255, 81);
    height: 90px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 80%;
}