.Nav {
    width: 100%;
    height: 80px;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav nav {

   width: 91.666%;
   max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Nav .logo {

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav .logo h1 {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: aquamarine;
    font-size: xx-large;
    margin-block: auto;
}

.Nav .logo span {
    color: #ecb365;
    font-size: x-small;

}

.account {
    color: #ecb365;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.accountPhoto {
    border: solid aquamarine;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-inline: 10px;
    font-weight:500;
    font-size: larger;
    color:#ecb365 ;
}

.accountButton {
    font-size: medium;
}

.searchBar {
    border: solid #ecb365 1px;
    width: auto;
    border-radius: 10px  10px 10px 0;
    display: flex;
    flex-direction: row;
}

.searchBar input {
    width: 300px;
    min-width: 50px;
    outline-style: none;
    padding: 3px;
    border-radius: 10px  0 15px 0 ;
}
.searchBar button {
   color: #ecb365;
   font-size: medium;
   margin-inline: 5px;
    outline-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

@media (max-width: 600px) {
    .Nav{
        padding-inline: 4px;
    }
    .Nav .logo span {
        display: none;
        color: #ecb365;
        font-size: x-small;
    
    }
    .searchBar input {
        width: 180px;
        outline-style: none;
        padding: 3px;
    }
    .accountButton{
        display: none;
    }
  }
