<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded!!</title>
</head>

<body>
    <h1>carga completa</h1>
    <h2><a href="/api">sube una nueva imagen</a></h2>
</body>

</html>