
.Form01 {
    height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.Form01 h2{
    font-size: larger;
}
.Form01 form {
    font-display: flex;
    align-items: center;
    font-size: small;
    height: auto;
   
    font-weight: 500;
}
.Form01 input{
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: solid rgb(82, 82, 82) 1px;
    outline: none;
    width: 200px;
    
}
.Form01 span {
    font-size: smaller;
    text-align: end;
    color: rgb(83, 84, 85);
    cursor: pointer;
}
.Form01 span:hover{
    text-decoration: underline;
    color: #ecb365;
}
.Form01 label {
    color: rgb(83, 84, 85);
}
.Form01 button{
    width: 200px;
    color: #ecb365;
    border: rgb(10, 9, 9) 1px solid;
    padding: 5px;
    border-radius: 3px;
    background-color: black;
    
}


